pyrogram
TgCrypto
python-decouple
hachoir
ffmpeg-python
aiohttp
motor
pytz
pyromod
psutil
Pillow
humanize
html_telegraph_poster
lxml[html_clean]
https://github.com/1Danish-00/Telethon/archive/master.zip
