aiohttp
python-decouple
psutil
speedtest-cli
html_telegraph_poster
lxml[html_clean]
https://github.com/1Danish-00/Telethon/archive/master.zip
telegraph[aio]
ffmpeg-python
pyrogram
TgCrypto
hachoir
motor
pytz
pyromod
Pillow
humanize
dockerfile

